# General
.env
*.pyc
**/__pycache__
**/.pytest_cache
**/*.env
**/*.crt
**/*.key
**/*.cer
**/*.xlsx
**/*.xls
**/*.csv
**/test-output.xml

# For back-end/
back-end/*.ods
back-end/*.parquet
back-end/dist
back-end/models_tree.pickle
models_tree.pickle
**TEST-*.xml
**COVERAGE-*.xml
**/poetry-chef*

# For front-end/
**node_modules**
